#navbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    padding: 1%;
    background-color: #111;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

#menu {
    display: none;
}

.nav-item {
    text-decoration: none;
    color: aliceblue;
}

.nav-item:hover {
    color: blueviolet;
    transition: .4s;
}

#nav-list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#nav-list li {
    margin: 0 25px;
}

.active-link {
    text-decoration: none;
    color: rgb(182, 25, 25);
    font-weight: 600;
}

#logo {
    font-family: "Poppins";
    color: white;
    text-decoration: none;
    font-size: 1.9em;
    font-weight: bold;
}

@media only screen and (max-width: 1100px) {
    #nav-list {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(7px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        row-gap: 25px;
        font-size: 15px;
        margin-left: -100%;
    }
    #menu {
        display: block;
        height: 20px;
    }
    .nav-item {
        color: #111;
    }
}




