#navbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    padding: 1%;
    background-color: #111;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.nav-item {
    text-decoration: none;
    color: aliceblue;
}

.nav-item:hover {
    color: blueviolet;
    transition: .4s;
}

#nav-list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

#nav-list li {
    margin: 0 25px;
}

.active-link {
    text-decoration: none;
    color: rgb(182, 25, 25);
    font-weight: 600;
}





