@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

.circle {
    border-radius: 100%;
    width: 170px;
}

.integrantes {
    display: flex;
    column-gap: 25px;
}

.integrantes div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 30px;
    row-gap: 8px;
}

.name {
    font-size: 22px;
    font-weight: bold;
}

.carrer {
    line-height: 24px;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
}